html{
  width:100%;
  height:100%;
}
body{
    padding: 30px;
}

.widget{
  margin:0 auto;
  position:relative;
  width:90%;
  border-top:1px solid rgba(255,255,255,.3);
  border-radius:4px;
  box-shadow:0 6px 10px rgba(0,0,0,0.6);
  padding  :10px;
}
.effect
{
  	position:relative;
    -webkit-box-shadow:0 1px 4px rgba(0, 0, 0, 0.9), 0 0 40px rgba(0, 0, 0, 0.1) inset;
       -moz-box-shadow:0 1px 4px rgba(0, 0, 0, 0.3), 0 0 40px rgba(0, 0, 0, 0.1) inset;
            box-shadow:0 1px 4px rgba(0, 0, 0, 0.3), 0 0 40px rgba(0, 0, 0, 0.1) inset;
}

.effect:before, .effect:after
{
	content:"";
    position:absolute;
    z-index:-1;
    -webkit-box-shadow:0 0 50px rgba(0,0,0,0.8);
    -moz-box-shadow:0 0 150px rgba(0,0,0,0.8);
    box-shadow:0 0 50px rgba(0,0,0,0.8);
    top:0;
    bottom:0;
    left:10px;
    right:10px;
    -moz-border-radius:100px / 10px;
    border-radius:100px / 10px;
}
.effect:after
{
	right:10px;
    left:auto;
    -webkit-transform:skew(8deg) rotate(3deg);
       -moz-transform:skew(8deg) rotate(3deg);
        -ms-transform:skew(8deg) rotate(3deg);
         -o-transform:skew(8deg) rotate(3deg);
            transform:skew(8deg) rotate(3deg);
}



.widget ul{
  background:#f2845a;
  margin-top:250px;
  box-shadow:0 -3px 3px rgba(0,0,0,.5);
  padding:0;
  line-height:50px;

}
.widget ul li{
  width:25%;
  padding:0; margin:0;
  display:inline-block;
  margin-left:-5px;
  text-align:center;
  font:14px Verdana;
  line-height:20px;
  color:white;
  border-right:1px solid;
}
.widget ul li:first-child{
  margin-left:0px;
}
.widget ul li:last-child{
  border-right:none;
}
h2{
  font:18px Myriad Pro;
  text-align:center;
  color:#505a64;
  margin-bottom:40px;
}
h2:before{
  content:"";
  width:40%;
  left:30%;
  height:1px;
  position:absolute;
  background:#c9cbd0;
  margin-top:40px;
}
.avatar{
  text-align:center;
  width:27%;
  position:relative;
  display:inline-block;
}
.avatar img{
  border-radius:50%;
}

.desc{
  margin-top:-5px;
  vertical-align:top;
  width:70%;
  display:inline-block;
}
.name{
  display:block;
  font:18px/35px Myriad Pro;
  color:#505a64;
}
.header_address{
   display:block;
  font:14px Myriad Pro;
  color:#505a64;
}
.address{
   display:block;
  font:14px Myriad Pro;
  color:#505a64;
}
.block-content{
    text-align:center;
}