<!DOCTYPE html>
<html >

  <head>

    <meta charset="UTF-8">

    <title>{{ page_title }} | Auth</title>

    {% load static %}

    <link rel="stylesheet" href="{% static 'css/normalize.css' %}">

    <link rel='stylesheet prefetch' href='https://maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css'>

    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    <link rel="stylesheet" href="{% static 'css/page.css' %}">

  </head>

  <body>
<div class="widget effect">
  <ul>
    <li>Menu 1</li>
    <li>Menu 2</li>
    <li>Menu 3</li>
    <li>Menu 4</li>
  </ul>
  <div class="block-content">
  {% block content %}

  {% endblock content %}
    </div>
  <div class="avatar"><img src="http://maxme-life.ru/tests/prof_pic.jpg" /></div>
  <div class="desc">
        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Etiam ante est, condimentum eget commodo non, bibendum sed dolor.
  </div>
</div>

  <script src='https://cdnjs.cloudflare.com/ajax/libs/jquery/2.1.3/jquery.min.js'></script>
  <script src="{% static 'js/index.js' %}"></script>
  </body>

</html>