<!doctype html>
<head>
  <meta charset="utf-8">
  <title>{% block title %}PesaCrowd{% endblock %}</title>
  <meta name="description" content="">
  <meta name="author" content="">
  {% load staticfiles %}
  <!-- Le HTML5 shim, for IE6-8 support of HTML elements -->
  <!--[if lt IE 9]>
      <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
      <![endif]-->

  <!-- Mobile viewport optimized: j.mp/bplateviewport -->
  <meta name="viewport" content="width=device-width, initial-scale=1.0">

  <!-- Place favicon.ico & apple-touch-icon.png in the root of your domain and delete these references -->
  <link rel="icon" type="image/x-icon" href="{% static 'img/favicon.ico">

  <!-- CSS: implied media="all" -->
  {# load compress #}
  {# compress css #}
  {% block styles %}
  <link type="text/css" rel="stylesheet" href="{% static 'css/bootstrap.css' %}">
  <link type="text/css" rel="stylesheet" href="{% static 'css/bootstrap-theme.css' %}">
  <link type="text/css" rel="stylesheet" href="{% static 'css/smartmin_styles.css' %}">
  <link type="text/css" rel="stylesheet" href="{% static 'css/styles.css' %}">
  <link type="text/css" rel="stylesheet" href="http://localhost:8888/pesacrowd/wp-content/themes/bizlight/assets/frameworks/bxslider/css/jquery.bxslider.css?ver=4.0">

  <!-- Theme upgrades -->
  <link rel='stylesheet' id='bizlight-googleapis-css'  href='//fonts.googleapis.com/css?family=Raleway%3A400%2C300%2C500%2C600%2C700%2C900&#038;ver=4.4.2' type='text/css' media='all' />
  <link rel='stylesheet' id='bizlight-googleapis-other-font-family-css'  href='//fonts.googleapis.com/css?family=Raleway&#038;ver=4.4.2' type='text/css' media='all' />
  <link rel='stylesheet' id='fontawesome-css'  href="{% static 'bizlight/frameworks/Font-Awesome/css/font-awesome.min.css' %}?ver=4.4.0" type='text/css' media='all' />
  <link rel='stylesheet' id='jquery-bxslider-css'  href="{% static 'bizlight/frameworks/bxslider/css/jquery.bxslider.css' %}?ver=4.0" type='text/css' media='all' />
  <link rel='stylesheet' id='animate-css'  href="{% static 'bizlight//frameworks/wow/css/animate.min.css' %}?ver=3.4.0" type='text/css' media='all' />
  <link rel='stylesheet' id='bizlight-style-css'  href="{% static 'bizlight/style.css' %}?ver=4.4.2" type='text/css' media='all' />

  {% endblock %}

  {% block extra-style %}{% endblock %}
    <script>
    if (window.location.hostname == "localhost"){
    document.write(unescape('%3Cscript src="{% static 'js/libs/jquery.1.11.1.min.js' %}"%3E%3C/script%3E'));
    } else {
    document.write(unescape('%3Cscript src="http://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"%3E%3C/script%3E'));
    }
  </script>
  {# endcompress #}
</head>

<body>

  {% block navbar %}
  <header class="navbar navbar-static-top" role="banner">
    <div class="container">

      <div class="navbar-header">
	<button class="navbar-toggle" type="button" data-toggle="collapse" data-target="#smartmin-navbar-collapse">
          <span class="sr-only">Toggle navigation</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
	</button>

	{% block brand %}
	<a class="navbar-brand" href="http://pesacrowd.com" target="_parent">PesaCrowd</a>
	{% endblock brand %}
      </div>

      {% block navigation %}
      <nav class="collapse navbar-collapse" id="smartmin-navbar-collapse" role="navigation">
	<ul class="nav navbar-nav navbar-right">
          <li>
            <a href="http://app.pesacrowd.com/web?page=invest-in-ambitious-businesses/" target="_parent">Invest With Us</a>
          </li>
          <li>
            <a href="http://app.pesacrowd.com/web?page=raise-funds-the-smart-way/" target="_parent">Raise Funds</a>
          </li>
          <li class="dropdown">
              <a class="dropdown-toggle" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="true"> More <span class="caret"></span> </a>
              <ul class="dropdown-menu">
              <li><a href="http://app.pesacrowd.com/web?page=about" target="_parent">About us</a></li>
              <li><a href="http://app.pesacrowd.com/web?page=team" target="_parent">Team</a></li>
              <li><a href="http://app.pesacrowd.com/web?page=privacy-policy/" target="_parent">Privacy policy</a></li>
              <li><a href="http://app.pesacrowd.com/web?page=faqs/" target="_parent">FAQs</a></li>
              <li><a href="http://app.pesacrowd.com/web?page=contact-us/" target="_parent">Contact Us</a></li>
            </ul>
          </li>
	  {% block login %}
          {% if request.user and request.user.is_authenticated %}
          <li>
            <a class="dropdown-toggle" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="true"><img src="{{ MEDIA_URL }}{{ request.user.userprofile.profile_image }}" style="height: 40px;margin-bottom: -20px;margin-top: -20px;">My Account <span class="caret"></span> </a>
            <ul class="dropdown-menu">
              <li><a href="{% url 'django_auth.userprofile_update' request.user.userprofile.id%}" target="_parent">Profile Settings</a></li>
              <li><a href="/" target="_parent" href="/" >My Portfolio</a></li>
              <li><a href="{% url 'logout' %}" target="_parent">logout</a></li>
            </ul>
          </li>
          {% else %}
          <li><a href="/login" target="_parent">Login</a></li>
                <li><a target="_parent" href="/login?tab=register">Register</a></li>

          {% endif %}
          {% endblock login %}
	</ul>
      </nav>
      {% endblock navigation %}

    </div>

  </header>
  {% endblock navbar %}

  <div class="container">

    {% load smartmin %}

    {% block content-div %}
    <div class="content">
      {% block messages %}
      {% if messages %}
      {% for message in messages %}
      <div class="alert alert-{{ message.tags }}">
        <a class="close" data-dismiss="alert">×</a>
        {{ message }}
      </div>
      {% endfor %}
      {% endif %}
      {% endblock messages %}

      {% block pre-content %}
      {% endblock %}

      {% block content %}
      {% endblock %}

      {% block post-content %}
      {% endblock %}
    </div>
    {% endblock %}

  </div> <!-- /container -->
  <footer class="footer">
      {% block footer %}
      Copyright &copy; 2016
      {% endblock %}
  </footer>

  {# compress js #}
  <script type="text/javascript" src="{% static 'js/jquery.pjax.js' %}"></script>
  <script type="text/javascript" src="{% static 'js/scripts.js' %}"></script>
  <script type="text/javascript" src="{% static 'js/bootstrap.min.js' %}"></script>

  {# media associated with any form we are displaying #}
  {% if form %}
  {{ form.media }}
  {% endif %}

  {% block extra-script %}{% endblock %}
  {% block script %}{% endblock %}
  {# endcompress #}

  <!-- mathiasbynens.be/notes/async-analytics-snippet Change UA-XXXXX-X to be your site's ID -->
  <!--script type="text/javascript">
      var _gaq=[['_setAccount','UA-XXXXX-X'],['_trackPageview']];
      (function(d,t){var g=d.createElement(t),s=d.getElementsByTagName(t)[0];g.async=1;
      g.src=('https:'==location.protocol?'//ssl':'//www')+'.google-analytics.com/ga.js';
      s.parentNode.insertBefore(g,s)}(document,'script'));
      </script-->
</body>
</html>
