{% extends "base_login.html" %}

{% block content %}

{% if form.errors %}
    {% for field in form %}
        {% for error in field.errors %}
            <div class="alert alert-error">
                <strong>{{ error|escape }}</strong>
            </div>
        {% endfor %}
    {% endfor %}
    {% for error in form.non_field_errors %}
        <div class="alert alert-error">
            <strong>{{ error|escape }}</strong>
        </div>
    {% endfor %}
{% endif %}
<script>
      $(document).ready(function(){
          $('#checkstuff').click(function() {

            if($('#id_terms').is(':checked')){
                $('#final_submit').click();
            }else{
                alert('You have to agree to the terms and conditions!')
            }
          });
          $(function () {
           var activeTab = $('[href=' + location.hash + ']');
           activeTab && activeTab.tab('show');
        });
      });
</script>

<div class="logmod">
  <div class="logmod__wrapper">
    <div class="logmod__container">
      <ul id="myTabs" class="nav nav-tabs" role="tablist">

                <li role="presentation" class="active"><a href="#login" role="tab" data-toggle="tab"
                                                          aria-controls="login" aria-expanded="false">Login</a></li>
                <li role="presentation" class=""><a href="#register" role="tab" data-toggle="tab"
                                                    aria-controls="register" aria-expanded="false">Register</a></li>
            </ul>
      <div id="myTabContent" class="tab-content" style="padding:20px;">
        <div role="tabpanel" class="tab-pane fade" id="register" aria-labelledby="register-tab">
          <div class="logmod__heading">
            <span class="logmod__heading-subtitle">Enter your personal details <strong>to create an acount</strong></span>
          </div>
          <form action="/django_auth/register/" method="post">{% csrf_token %}
          <div class="logmod__form">
              <div class="sminputs">
                <div class="input full">
                  <label class="string optional" for="id_email">Email*</label>
                  <input class="string optional" maxlength="255" id="id_email" name="email" placeholder="Email" type="email" size="50" />
                </div>
                <div class="input full">
                  <label class="string optional" for="username">Username*</label>
                  <input id="id_username" maxlength="30" name="username" type="text" placeholder="Required. 30 characters or fewer. Letters, digits and @/./+/-/_ only"/>
                </div>
              </div>
              <div class="sminputs">
                <div class="input string optional">
                  <label class="string optional" for="id_password1">Password *</label>
                  <input class="string optional" maxlength="255" placeholder="Password" size="50" id="id_password1" name="password1" type="password"/>
                </div>
                <div class="input string optional">
                  <label class="string optional" for="id_password2">Repeat password *</label>
                  <input class="string optional" maxlength="255" placeholder="Password" size="50" id="id_password2" name="password2" type="password"/>

                </div>

                <div class="input full">
                  <label class="string optional" for="id_phone">Phone Number*</label>
                  <input id="id_phone" maxlength="30" name="phone" type="text" placeholder="Your mobile number"/>
                </div>
              </div>
          </div>
            <div class="logmod__alter">
            <div class="logmod__alter-container">

                <div class="" style="padding-top:10px; padding-bottom:10px;">
                  <input id="id_terms" maxlength="30" name="terms_of_service" type="checkbox" style="width:20px"/> I agree with the PesaCrowd <a href="http://www.pesacrowd.com/terms-of-use/" style="color: #028484">Terms & Conditions</a> and <a href="http://www.pesacrowd.com/privacy-policy/" style="color: #028484">Privacy Policy</a>
                </div>
                <div class="connect__context">
                  <a style="width:100% !important; text-align:center" class="button" id="checkstuff">Register</a>
                  <input style="display:none;" type="submit" value="Register"  class="connect facebook" id="final_submit"/>
                </div>
            </div>
          </div>
            </form>
        </div>
        <div role="tabpanel" class="tab-pane fade active in" id="login" aria-labelledby="login-tab">
          <div class="logmod__heading">
            {% if form.non_field_errors %}
                <ul class='form-errors'>
                    {% for error in form.non_field_errors %}
                        <li>{{ error }}</li>
                    {% endfor %}
                </ul>
            {% endif %}
            <span class="logmod__heading-subtitle">Enter your email and password <strong>to sign in</strong></span><br />
            {{confirmed}}
          </div>
            <form action="/django_auth/auth/" method="post">{% csrf_token %}
          <div class="logmod__form">
              <div class="sminputs">
                <div class="input full">
                  <label class="string optional" for="username">Username*</label>
                  <input class="string optional" type="text" name="username" value="" id="username" size="50" placeholder="Username">
                </div>
              </div>
              <div class="sminputs">
                <div class="input full">
                  <label class="string optional" for="user-pw">Password *</label>
                  <input class="string optional" maxlength="255" id="user-pw" placeholder="Password" type="password" size="50" name="password" />

                </div>
              </div>
              <div class="sminputs" style="text-align:center; font-size:0.9em">
                <a href='/user/forget'>Forgot password? Reset here.</a>
              </div>
          </div>
          <div class="logmod__alter">
            <div class="logmod__alter-container">
                <div class="connect__context">
                  <input style="width:100% !important" type="submit" value="Login"  class="connect googleplus"/>
                </div>
            </div>
          </div>
            </form>
            </div>
      </div>
    </div>
  </div>
</div>
{% endblock %}