<div class="widget effect">
  <ul>
    <li>Reviews</li>
    <li>Hotels</li>
    <li>Places</li>
    <li>Climate</li>
  </ul>
  <h2>Famous people living in Paris</h2>
  <div class="avatar"><img src="http://maxme-life.ru/tests/prof_pic.jpg" /></div>
  <div class="desc">
    <span class="name">Ernest Hemingway</span>
    <span class="header_address">Address in Paris:</span>
    <span class="address">74 rue du Cardinal Lemoine</span>
  </div>
</div>